name: Refresh News Cache
on:
  schedule:
    - cron: '0 9 * * 4' # 05:00 UTC entspricht ca. 06:00 MEZ
  workflow_dispatch: # Erlaubt manuellen Start zum Testen

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          pip install pandas feedparser requests lxml

      - name: Run Update Script
        env:
          REPO_NAME: ${{ secrets.REPO_NAME }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: python update_cache.py
